<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.visit.program.ReservationProgram.domain.repository.ReservationRepository">

    <select id = "findAll" resultType="com.visit.program.ReservationProgram.domain.dao.Reservation">
        select r.id, v.name,v.employee_name ,v.visit_date1,v.visit_date2,v.phone_number,
        v.birth ,v.company,v.is_checked from Reservation_info r,visitor v where r.visitor_id = v.id
        order by r.id desc
    </select>


    <select id="saveInfo">
        insert into Reservation_info(visitor_id, is_checked)
        values(#{visitor_id},#{is_checked});
    </select>

    <select id="findOne" resultType="com.visit.program.ReservationProgram.domain.dao.Reservation">
        select r.id,r.visitor_id, v.name,v.employee_name,v.visit_date1,v.visit_date2,v.phone_number,v.birth,v.company,v.is_checked from Reservation_info r inner join visitor v on r.visitor_id = v.id
        where r.id = #{id}
    </select>


    <select id="findInfoOne" resultType="com.visit.program.ReservationProgram.domain.dao.ReservationInfo">
        select * from Reservation_info where id =#{id};
    </select>

    <select id="deleteInfo">
        delete from Reservation_info where id = #{id};
    </select>

<!--    <select id = "findAllDTO" resultType="com.visit.program.ReservationProgram.domain.dao.Reservation">-->
<!--        select r.id, v.name,v.employee_name,v.visit_date1,v.visit_date2,v.phone_number,v.birth,v.company,v.is_checked from Reservation_info r inner join visitor v on r.visitor_id = v.id-->
<!--        <where>-->
<!--            <if test="employee_name!=null and employee_name!=''">-->
<!--                and v.employee_name like concat('%',#{employee_name},'%')-->
<!--            </if>-->
<!--            <if test="is_checked!=null and is_checked!=''">-->
<!--                and r.is_checked like #{is_checked}-->
<!--            </if>-->
<!--        </where>-->
<!--        order by r.id desc-->
<!--    </select>-->

    <select id = "findAllDTO" resultType="com.visit.program.ReservationProgram.domain.dao.Reservation">
        select r.id, v.name,v.employee_name,v.visit_date1,v.visit_date2,v.phone_number,v.birth,v.company,v.is_checked from Reservation_info r inner join visitor v on r.visitor_id = v.id
        <where>
            <if test="date1!=null and date1!=''">
                and date(v.visit_date1) between #{date1} and #{date2}
            </if>
            <if test="is_checked!=null and is_checked!=''">
                and v.is_checked like #{is_checked}
            </if>
        </where>
        order by r.id desc
    </select>


    <select id="updateCheckedInfo">
        update Reservation_info set is_checked=true where id = #{id};
    </select>



</mapper>