<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/EmployAll.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>

<title>직원 조회</title>

<body>
<div id="searchForm">
    <div class="card-body">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            직원 List
        </div>


        <div class="card-body">
            <div id="sortTab">
                <form th:object="${employeeSearchDTO}" class="form-inline">
                <span class="form-group mb-2" id="sortId">
                <input type="text" th:field="*{name}" class="form-control" placeholder="이름 입력"/>
                <input type="text" th:field="*{department}" class="form-control" placeholder="부서 입력"/>
                                        <button type="submit" class="btn btn-primary mb-2">검색</button>

                </span>
                </form>
            </div>

            <div th:if="${employeeList}!=null">
            <table id="datatablesSimple">
                <thead>
                <tr>
                <th class = "sel">선택</th>
                <th class = "employee_id">사번</th>
                <th class = "name">직원명</th>
                <th class = "department">부서</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employeeList}">
                <td class = "sel"><input type="radio" name = "employeeId" th:employeeId="${employee.id}" th:onclick="radioCheck(this.getAttribute('employeeId'))"></td>
                <td class = "employee_id" th:text="${employee.id}"></td>
                <td class = "name" th:text="${employee.name}"></td>
                <td class = "department" th:text="${employee.department}"></td>
                <span id="radioSelect"></span>
            </tr>
            </tbody>
        </table>
        <br>
        <button type="submit" class="btn btn-primary mb-2" id = "selbtn" th:onclick="closeAndSendParam()">선택</button>
            </div>
         </div>
        </div>
        </div>
    </div>

</div>

</div>

<script th:inline="javascript">
    /*<![CDATA[*/
        let employee_Id = "";
        function radioCheck(employeeId){
        employee_Id=employeeId;
        document.getElementById('radioSelect').value=employeeId;
        console.log(document.getElementById('radioSelect').value);
        }

        function closeAndSendParam(){
        if(employee_Id == null || employee_Id == "" ||employee_Id == "undefined"){
        alert('선택하지 않았습니다');
        window.location.reload(true);
        }
        open("/reservation/info/save?employee_Id="+employee_Id); self.close();
        }

       /*]]>*/
</script>





</body>
</html>