<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/All.css}"/>
<title>직원 조회</title>

<body>
<div id = "viewPage">
    <h2>직원 조회</h2>
    <table>
    <thead>
    <tr>
        <th>사번</th>
        <th>직원명</th>
        <th>부서</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employeeList}">
    <td th:text="${employee.id}"></td>
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.department}"></td>
    </tr>
    <button name = "employees" th:onclick="window.close()">나가기</button>
    </tbody>
</table>
    </form>
</div>

</body>
</html>