<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" type="text/css" th:href="@{/css/Error.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/UpdateForm.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<title>방문자 수정 Form</title>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Register - SB Admin</title>

    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h2 class="text-center font-weight-light my-4">
                                <img th:src="@{/images/rapigen_logo.png}" width="200"/>  방문 예약 프로그램</h1></span>

                            </h2></div>
                            <div class="card-body">
                                <form role="form" th:object="${visitor}" method="post" >
                                    <div class="col-md-6">
                                        <div th:if="${#fields.hasGlobalErrors()}">
                                            <p class="field-error"  id="globalError" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
                                        </div>
                                    </div>
                                    <input type="hidden" th:field="*{id}" class="form-control">
                                    <input type="hidden" th:field="*{write_date}" class="form-control">
                                    <input type="hidden" th:field="*{count}" class="form-control">
                                    <input type="hidden" th:field="*{revised_write_date}" class="form-control">

                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <label th:for="employee_name">담당자이름</label>
                                                <input type="text" th:field="*{employee_name}" class="form-control"
                                                       th:class="${#fields.hasErrors('employee_name')}? 'form-control fieldError' : 'form-control'" readonly>
                                                <p class="field-error" th:if="${#fields.hasErrors('employee_name')}" th:errors="*{employee_name}">Incorrect date</p>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <label th:for="name">방문자 이름</label>
                                                <input type="text" th:field="*{name}" class="form-control" placeholder="ex) 홍길동"
                                                       th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
                                                <p class="field-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <label th:for="phone_number">연락처</label>
                                                <input type="text" th:field="*{phone_number}" class="form-control" placeholder="연락처"
                                                       th:class="${#fields.hasErrors('phone_number')}? 'form-control fieldError' : 'form-control'">
                                                <p class="field-error" th:if="${#fields.hasErrors('phone_number')}" th:errors="*{phone_number}">Incorrect date</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <label th:for="company">소속회사</label>
                                                <input type="text" th:field="*{company}" class="form-control" placeholder="회사명을 정확히 입력해주세요"
                                                       th:class="${#fields.hasErrors('company')}? 'form-control fieldError' : 'form-control'">
                                                <p class="field-error" th:if="${#fields.hasErrors('company')}" th:errors="*{company}">Incorrect date</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <label th:for="birth">생년월일</label>
                                                <input type="text" th:field="*{birth}" class="form-control"
                                                       th:class="${#fields.hasErrors('birth')}? 'form-control fieldError' : 'form-control'">
                                                <p class="field-error" th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}">Incorrect date</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div id="date">
                                            방문일정
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <label th:for="purpose">방문 목적</label>
                                                <input type="text" th:field="*{purpose}" class="form-control"
                                                       th:class="${#fields.hasErrors('purpose')}? 'form-control fieldError' : 'form-control'">
                                                <p class="field-error" th:if="${#fields.hasErrors('purpose')}" th:errors="*{purpose}">Incorrect date</p>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" th:field="*{is_checked}" class="form-control"
                                           th:class="${#fields.hasErrors('is_checked')}? 'form-control fieldError' : 'form-control'">

                                    <div class="mt-4 mb-0">
                                        <div class="d-grid"><button type="submit" class="btn btn-primary btn-block">Submit</button></div>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center py-3">
                                <div class="small"><a th:href="@{/reservation/info/all_}">HOME</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2022</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
</body>
</html>
