.card.mb-4{
  width:750px;
}
.card.mb-4 table{
    font-size:14px;
    width: 100%;
    border-collapse: collapse;
    text-align:center;
    border-top: 3px solid #dddddd;
    border-bottom:3px solid #dddddd;

}
#datatablesSimple{
    font-size:20px;

}
#sortTab{
  margin-left:10%;
  margin-bottom:1%;


}
.sel{
  width:80px;
}
.employee_id{
  width:80px;
}
.name{
  width:160px;
}
.department{
    width:200px;

}



#selbtn{
  margin-left:45%;
}

#sortTab input{
  font-size:13px;
  text-align:center;
   display:inline-block;
  width: 9.8%;
  height:35px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.25rem;

  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


#searchForm{
  margin-left:13%;
}

  th, td {
    padding: 5px;
  }
#sortTab input{
  width:250px;
}