label input{
  height:20px;
}

#employee_id{
  color:#929292;
}
img{
  margin-top:-10px;
  margin-left:24px;
}


#viewPage{
    margin-left:30%;
    margin-top:10%;
}
#date input{
  font-size:13px;
  text-align:center;
   display:inline-block;
  width: 9.8%;
  height:45px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.col-md-6 button{
  margin-top:5px;
  height:50px;
}

#date select{
  font-size:13px;
  text-align:center;
   display:inline-block;
  width: 9.8%;
  height:45px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#date label{
  margin-top:-25px;
  margin-left:50px;
}



label{
  margin-top:-10px;
  color:gray;

}

span>label{
  margin-top:-25px;
  margin-left:50px;
}
